@import "tailwindcss";

/* globals.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff; /* You might want a darker background here instead */
    --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: sans-serif;
}
}


/* #00215b blue

#fab731 orange */

/* h{
color: #f5b00e,
#5b851a,
#29622b,
#fbf4e4,
#8b4e25
} */